<!DOCTYPE html>
<html lang="ja">

<head>
<title>presentation list - mahata.net</title>
</head>

<body>

<p>
<ul>
<li><a href="/presentation/20130422">2013/04/22 - Code Golf in Ruby - Ruby Meetup @ HootSuite</a></li>
<li><a href="/presentation/20130620">2013/06/20 - Zsh Introduction - HootSuite LT @ HootSuite</a></li>
<li><a href="/presentation/20130801">2013/08/01 - Modern Programming Environment - HootSuite LT @ HootSuite</a></li>
<li><a href="/presentation/20130912">2013/09/12 - Notification Center on MacOSX - HootSuite LT @ HootSuite</a></li>
<li><a href="/presentation/20160205">2016/02/05 - Vagrant &amp; Ansible - Orb Lunch &amp; Learn</a></li>
</ul>
</p>

</body>

</html>
